@model List<Products>
@{
    Layout = "_AdminLayout";
}

<div class="container-fluid" style="margin-top:30px;">
    <table class="table table-responsive table-striped table-bordered" style="width:100%">
        <tbody>
                <tr>
                    <th><h5>ID</h5></th>
                    <th><h5>Name</h5></th>
                    <th><h5>Price</h5></th>
                    <th><h5>DiscountedPrice</h5></th>
                    <th><h5>Quantity</h5></th>
                    <th><h5>Image</h5></th>
                    <th><h5>Edit</h5></th>
                    <th><h5>Remove</h5></th>
                </tr>

                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.ID</td>
                        <td>@p.PName</td>
                        <td>@p.Price</td>
                        <td>@p.DiscountedPrice</td>
                        <td>@p.Quantity</td>
                        <td><img src="@p.ImageUrl" alt="this is an image" class="img-fluid" style="height:60px; width:60px;" /></td>
                        <td><a class="btn btn-outline-secondary" href="@Url.Action("Edit", "AdminPanel", new { id =p.ID })">Edit</a></td>
                        <td><a class="btn btn-outline-danger" href="@Url.Action("Remove", "AdminPanel", new { id =p.ID })">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
 
</div>