@model List<Appointment>
@{
    Layout = "_Adminlayout";
}

<div style="margin-top: 20px;">

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone number</th>
                    <th>Pet Type</th>
                    <th>Preferred Date and Time</th>
                    <th>Reason</th>
                    <th>Accept</th>
                    <th>Decline</th>
                    <th>Done</th>
                </tr>
            </thead>

            @foreach (var app in Model)
            {



                <tbody>
                    <tr>
                        <td>@app.Id</td>
                        <td>@app.Name</td>
                        <td>@app.Phone</td>
                        <td>@app.PetType</td>
                        <td>@app.preferredDateTime</td>
                        <td>@app.Reason</td>
                        <td><a class="btn btn-outline-success" href="@Url.Action("Edit", "AdminPanel", new { id =app.Id })">Accept</a></td>
                        <td><a class="btn btn-outline-danger" href="@Url.Action("Remove", "AdminPanel", new { id =app.Id })">Decline</a></td>
                        <td><a class="btn btn-outline-info" href="@Url.Action("Remove", "AdminPanel", new { id =app.Id })">Done</a></td>
                    </tr>
                </tbody>


            }
        </table>

    </div>

</div>





